<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Andriod.ER">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="35" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="35" />
    <!--
 Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location.
    -->
    <!--
 Include "neverForLocation" only if you can strongly assert that
         your app never derives physical location from Bluetooth scan results.
    -->
    <!-- uses-permission android:name="android.permission.BLUETOOTH_SCAN" / -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
         devices.
    -->
    <!-- uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" / -->
    <!--
 Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- If your app targets Android 11 (API level 30) or lower, declare the following permissions in your app's manifest file: -->
    <!-- https://developer.android.com/guide/topics/connectivity/bluetooth/permissions -->
    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
f your app supports a service and can run on Android 10 (API level 29) or Android 11,
    you must also declare the ACCESS_BACKGROUND_LOCATION permission to discover Bluetooth devices.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".com.UsersBatteries"
            android:exported="false" />
        <activity
            android:name=".com.BaseActivity"
            android:exported="false" />
        <service
            android:name="com.Andriod.ER.com.ForegroundService"
            android:foregroundServiceType="connectedDevice"
            android:exported="false"/>

        <activity android:name=".com.HistoryActivity" />
        <activity
            android:name=".com.Lanch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true">
            <intent-filter>
                <action android:name="intent.my.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.DeviceScanActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
             />

        <service
            android:name=".com.BluetoothLeService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|location" />
    </application>

</manifest>
